extends ../base 

block content 

  h1= author.name
  p Date of birth: #{author.date_of_birth_formatted}
  p Date of death: #{author.date_of_death_formatted}
  p Age: #{author.lifespan}
  
  h2 Books
  hr
  each book in books
    p
      a(href=book.url) #{book.title}
  else 
    p There are no books of this author.
